<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ProTech Auto Sales{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo_image/ptacfavicon.png') }}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <div class="ptaclogo">
            <a href="/"><img src="{{ url_for('static', filename='logo_image/protechcolor.png') }}" alt="Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/cars">Cars</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Main Page Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
