{% extends "base.html" %}
{% block content %}
<div class="fieldset">
    <fieldset>
      <legend>Contact ProTech</legend>
  
      <p><strong>Email:</strong> 
        <a href="mailto:prosperrmo@gmail.com">prosperrmo@gmail.com</a>
      </p>
  
      <p><strong>Call:</strong> +263 78 638 0373</p>
  
      <p><strong>WhatsApp:</strong> 
        <a href="https://wa.me/263786380373" target="_blank">Chat on WhatsApp</a>
      </p>
  
      <p><strong>Facebook:</strong> 
        <a href="https://m.facebook.com/profile.php?id=330743793448238" target="_blank">Visit our Facebook Page</a>
      </p>
    </fieldset>
  </div>
    
{% endblock %}
