{% extends "base.html" %}
{% block title %}ProTech Auto Sale{% endblock %}

{% block content %}
  <div class="container">
    <div class="main-content">
      <h1 class="paragraph"><strong>ProTech Auto Sales</strong></h1>
      <h2 class="paragraph"><strong>Quality Pre-Owned Vehicles at Unbeatable Prices</strong></h2>
      <p class="paragraph">
        Welcome to ProTech Auto Sales, your go-to destination for quality used cars. Our inventory covers a wide range of pre-owned vehicles from small to medium vehicles to SUVs, at affordable prices. Each vehicle is thoroughly inspected and tested to ensure customer satisfaction and safety.
      </p>
      <p class="paragraph">
        Or should you be interested in importing a vehicle, we've got you covered. With years of experience in local sales and international car imports, we make the buying process simple, affordable, and transparent. Whether you're buying locally or importing your dream car, we ensure a smooth and trustworthy process from start to finish.
      </p>
      <p class="paragraph">
        Browse our <a href='/cars'><strong><i>inventory</i></strong></a> today and find your next ride at an unbeatable price.
      </p>
    </div>
    <aside class="sidebar">
      <h3>Popular Models</h3>
      <a href="">Honda-fit|</a>
      <a href="">Honda CRV|</a>
      <a href="">Toyota Aqua|</a>
      <a href="">Toyota wish|</a>
      <a href="">Mazda Demio</a>
      
      <ul>
        <li><h3>Business Hours</h3></li>
        <li><strong>Sunday</strong>    09:00 - 18:00</li>
        <li><strong>Monday</strong>    09:00 - 18:00</li>
        <li><strong>Tuesday</strong>   09:00 - 18:00</li>
        <li><strong>Wednesday</strong> 09:00 - 18:00</li>
        <li><strong>Thursday</strong>  09:00 - 18:00</li>
        <li><strong>Friday</strong>    09:00 - 18:00</li>
        <li><strong>Saturday</strong>      Closed</li>
      </ul>
    </aside>
  </div>

  <div class="ptacfooter">
    <footer>
      <p>&copy; 2025 ProTech Auto Care | website by <strong>Coder911</strong></p>
  </footer>
  </div>
{% endblock %}
