{% extends "base.html" %}
{% block title %}Upload Car{% endblock %}

{% block content %}
<div class="upload-input">
    <!--Uploadcare script-->
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
    <h2>Upload New Car Image</h2>

    <!-- Upload Form -->
    <form method="POST" enctype="multipart/form-data">
        <label for="image">Image:</label><br/>
        <!-- Uploadcare widget input -->
        <input id="image" type="hidden" role="uploadcare-uploader" name="image"
         data-public-key="8e2c592094d3e36cb024" accept="image/*" data-images-only
         data-preview-step required><br/>

        <label for="description">Description:</label><br/>
        <input id="description" type="text" name="description" required><br/>

        <label for="price">Price:</label><br/>
        <input id="price" type="text" name="price" required><br/>

        <button type="submit">Upload</button>
    </form>

    <!-- Actions Section -->
    <div class="form-actions">
        <!-- Logout Button -->
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit">Logout</button>
        </form>

        <!-- Delete Link styled as a button -->
        <a href="{{ url_for('delete_cars') }}" class="delete-link">Delete Images</a>
    </div>
</div>
{% endblock %}


